@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import 'variaveis.scss';

html, body {
    padding: 0;
    margin: 0;
    background-color: $cor-fundo;
    color: #FFFFFF;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.flex {
    display: flex;

    &-center {
        align-items: center;
    }
}